table {
  /* width: 100%; */
  border: 2px solid #000;
  border-collapse: collapse;
  margin: 1em;
}

th, td, caption {
  border: 1px solid;
  text-align: center;
  padding: 0.25em;
}

th, td {
  border-left-color: #aaa;
  border-right-color: #aaa;
}

caption {
  border-width: 2px;
  border-bottom: none;
  background: #ffc;
  font-weight: bold;
}

thead,
tfoot {
  background: #ddd;
}

thead tr:hover,
tfoot tr:hover {
  background: #ffa;
}

thead th {
  border-bottom-width: 2px;
}

tbody tr:nth-child(odd) {
  background: #fff;
}

tbody tr:hover {
  background: #ffc;
}

td[lang="heb"] {
  direction: rtl;
  font-weight: bold;
}

td i {
  color: #f00;
}

th a {
  text-decoration: none;
}